<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{48} %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	<appender name="ALL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{48} %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../log/all-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<appender name="JDBC"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{48} %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../log/jdbc-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<logger name="jdbc.sqltiming" additivity="true" level="INFO">
		<appender-ref ref="JDBC" />
	</logger>
	<logger name="jdbc.audit" additivity="false" level="ERROR">
		<appender-ref ref="JDBC" />
	</logger>
	<logger name="jdbc.resultset" additivity="false" level="ERROR">
		<appender-ref ref="JDBC" />
	</logger>
	<logger name="jdbc.connection" additivity="false" level="ERROR">
		<appender-ref ref="JDBC" />
	</logger>
	<logger name="jdbc.sqlonly" additivity="false" level="ERROR">
		<appender-ref ref="JDBC" />
	</logger>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ALL" />
	</root>
</configuration>